# CS506 Midterm
### Name: Andrew Tuckman
### BUID: U40643751

## Imports:

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Load files into DataFrames:

In [2]:
train = pd.read_csv("./data/train.csv")

## Feature extraction:

In [3]:
train = train[['Score','Text']]
print(train)

         Score                                               Text
0          4.0  This is a charming version of the classic Dick...
1          3.0  It was good but not as emotionally moving as t...
2          3.0  Don't get me wrong, Winkler is a wonderful cha...
3          5.0  Henry Winkler is very good in this twist on th...
4          4.0  This is one of the best Scrooge movies out.  H...
...        ...                                                ...
1697528    NaN  wow $269.99 for the entire series on Blu Ray??...
1697529    5.0  Finally, the holy grail of tv-on-dvd boxsets i...
1697530    5.0  Could this be a true or I'm i dreaming batman ...
1697531    5.0  I've been a fan of the series since I was a yo...
1697532    5.0  People seriously need to wake up and realize t...

[1697533 rows x 2 columns]

## Drop null values:

In [4]:
train = train.dropna()

In [5]:
print(train)

         Score                                               Text
0          4.0  This is a charming version of the classic Dick...
1          3.0  It was good but not as emotionally moving as t...
2          3.0  Don't get me wrong, Winkler is a wonderful cha...
3          5.0  Henry Winkler is very good in this twist on th...
4          4.0  This is one of the best Scrooge movies out.  H...
...        ...                                                ...
1697526    4.0  Looking very much forward to this release, but...
1697529    5.0  Finally, the holy grail of tv-on-dvd boxsets i...
1697530    5.0  Could this be a true or I'm i dreaming batman ...
1697531    5.0  I've been a fan of the series since I was a yo...
1697532    5.0  People seriously need to wake up and realize t...

[1397480 rows x 2 columns]

## - Text Pre-processing -
### Convert string sentences to list of string words, and remove characters:

In [6]:
import re

expr_pattern = re.compile(pattern = r'[^\w\s]+', flags = 0)
train['Text'] = [expr_pattern.sub('', word) for word in train['Text'].tolist()]

### Convert string words to lowercase:

In [7]:
train['Text'] = train['Text'].str.lower().str.split()

In [8]:
print(train)

         Score                                               Text
0          4.0  [this, is, a, charming, version, of, the, clas...
1          3.0  [it, was, good, but, not, as, emotionally, mov...
2          3.0  [dont, get, me, wrong, winkler, is, a, wonderf...
3          5.0  [henry, winkler, is, very, good, in, this, twi...
4          4.0  [this, is, one, of, the, best, scrooge, movies...
...        ...                                                ...
1697526    4.0  [looking, very, much, forward, to, this, relea...
1697529    5.0  [finally, the, holy, grail, of, tvondvd, boxse...
1697530    5.0  [could, this, be, a, true, or, im, i, dreaming...
1697531    5.0  [ive, been, a, fan, of, the, series, since, i,...
1697532    5.0  [people, seriously, need, to, wake, up, and, r...

[1397480 rows x 2 columns]

### Remove stop words:

In [9]:
stopwords_list = ['i', "i've", "ive", 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "youre", "you've", "youve", "you'll", "you'd", "youll", "youd", 'your', 'yours', 'yourself', 
'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", "shes", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 
'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", "thatll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 
'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 
'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 
'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 
'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", "dont", 'should', "should've", "shouldve",
'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", "arent", 'couldn', "couldn't", "couldnt", 'didn', "didn't", "didnt", 'doesn', "doesn't", "doesnt", 'hadn', "hadn't", "hadnt", 'hasn', 
"hasn't", "hasnt", 'haven', "haven't", "havent", 'isn', "isn't", "isnt", 'ma', 'mightn', "mightn't", "mightnt", 'mustn', "mustn't", "mustnt", 'needn', "needn't", "neednt", 'shan', "shan't", "shant", 'shouldn', "shouldn't", "shouldnt", 
'wasn', "wasn't", "wasnt", 'weren', "weren't", "werent", 'won', "won't", "wont", 'wouldn', "wouldn't", "wouldnt"]

In [10]:
train['Text'] = train['Text'].apply(lambda review: [word for word in review if word not in stopwords_list])

In [11]:
print(train)

         Score                                               Text
0          4.0  [charming, version, classic, dickens, tale, he...
1          3.0  [good, emotionally, moving, christmas, carol, ...
2          3.0  [get, me, wrong, winkler, wonderful, character...
3          5.0  [henry, winkler, good, twist, classic, story, ...
4          4.0  [one, best, scrooge, movies, henry, winkler, o...
...        ...                                                ...
1697526    4.0  [looking, much, forward, release, price, bit, ...
1697529    5.0  [finally, holy, grail, tvondvd, boxsets, comin...
1697530    5.0  [could, true, im, dreaming, batman, favorite, ...
1697531    5.0  [ive, fan, series, since, young, boy, personal...
1697532    5.0  [people, seriously, need, wake, realize, cant,...

[1397480 rows x 2 columns]

### Convert list back into string:

In [12]:
train['Text'] = train['Text'].apply(', '.join)
expr_pattern1 = re.compile(r'[^\w\s]+')
train['Text'] = [expr_pattern1.sub('', x) for x in train['Text'].tolist()]
train['Text'] = train['Text'].str.lower()

In [13]:
print(train)

         Score                                               Text
0          4.0  charming version classic dickens tale henry wi...
1          3.0  good emotionally moving christmas carol dicken...
2          3.0  get me wrong winkler wonderful character actor...
3          5.0  henry winkler good twist classic story convent...
4          4.0  one best scrooge movies henry winkler outdoes ...
...        ...                                                ...
1697526    4.0  looking much forward release price bit outrage...
1697529    5.0  finally holy grail tvondvd boxsets coming blur...
1697530    5.0  could true im dreaming batman favorite comic b...
1697531    5.0  ive fan series since young boy personaly consi...
1697532    5.0  people seriously need wake realize cant get bl...

[1397480 rows x 2 columns]

## - Fit data -

### Extract two columns of data:

In [14]:
X_train = train['Text']
y_train = train['Score']

### Vectorize the review column 'Text':

In [15]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.svm import LinearSVC

# vectorizer = TfidfVectorizer()
# X_train_vectorized = vectorizer.fit_transform(X_train)

### Fit training data using Linear Support Vector Classifier:

In [16]:
# clf = LinearSVC(dual = False, C = 0.5)
# clf.fit(X_train_vectorized, y_train)

LinearSVC(C=0.5, dual=False)

In [76]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

clf = Pipeline([('tfidf', TfidfVectorizer()), ('clf', LinearSVC(dual = False,C = 0.2)), ])
clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('clf', LinearSVC(C=0.2, dual=False))])

## Preparing test file:

In [56]:
test = pd.read_csv("./data/test.csv")
print(test)

             Id  Score
0             5    NaN
1            11    NaN
2            17    NaN
3            46    NaN
4            47    NaN
...         ...    ...
299995  1697520    NaN
299996  1697522    NaN
299997  1697524    NaN
299998  1697527    NaN
299999  1697528    NaN

[300000 rows x 2 columns]

In [57]:
train2 = pd.read_csv("./data/train.csv")
print(train2)

              Id   ProductId          UserId  HelpfulnessNumerator  \
0              0  0005019281   ADZPIG9QOCDG5                     0
1              1  0005019281  A35947ZP82G7JH                     0
2              2  0005019281  A3UORV8A9D5L2E                     0
3              3  0005019281  A1VKW06X1O2X7V                     0
4              4  0005019281  A3R27T4HADWFFJ                     0
...          ...         ...             ...                   ...
1697528  1697528  B00LT1JHLW   AV657BUYHHXZ2                     1
1697529  1697529  B00LT1JHLW  A17W587EH23J0Q                    32
1697530  1697530  B00LT1JHLW  A3DE438TF1A958                     3
1697531  1697531  B00LT1JHLW  A2RWCXDMANY0LW                     0
1697532  1697532  B00LT1JHLW  A3ROPC55BE2OM9                    11

         HelpfulnessDenominator  Score        Time  \
0                             0    4.0  1203984000
1                             0    3.0  1388361600
2                             0    3.0  1388361600
3                             0    5.0  1202860800
4                             0    4.0  1387670400
...                         ...    ...         ...
1697528                      14    NaN  1406073600
1697529                      48    5.0  1405641600
1697530                      10    5.0  1405728000
1697531                       4    5.0  1405987200
1697532                      23    5.0  1405728000

                                                   Summary  \
0                                good version of a classic
1                                   Good but not as moving
2                    Winkler's Performance was ok at best!
3             It's an enjoyable twist on the classic story
4                                         Best Scrooge yet
...                                                    ...
1697528                      Way to Expensive!! WB = GREED
1697529  HOLY BAT-BOXSET, BATMAN... I never thought thi...
1697530  prayers have been answered because batman 60s ...
1697531                                        can't Wait!
1697532  The Price is Insane? People Really Need to Wak...

                                                      Text
0        This is a charming version of the classic Dick...
1        It was good but not as emotionally moving as t...
2        Don't get me wrong, Winkler is a wonderful cha...
3        Henry Winkler is very good in this twist on th...
4        This is one of the best Scrooge movies out.  H...
...                                                    ...
1697528  wow $269.99 for the entire series on Blu Ray??...
1697529  Finally, the holy grail of tv-on-dvd boxsets i...
1697530  Could this be a true or I'm i dreaming batman ...
1697531  I've been a fan of the series since I was a yo...
1697532  People seriously need to wake up and realize t...

[1697533 rows x 9 columns]

In [58]:
test2 = test.join(train2, on='Id', how = 'inner', lsuffix=' test_data', rsuffix='train2')
print(test2)

             Id  Id test_data  Score test_data  Idtrain2   ProductId  \
0             5             5              NaN         5  0005019281
1            11            11              NaN        11  0005019281
2            17            17              NaN        17  0005019281
3            46            46              NaN        46  0005019281
4            47            47              NaN        47  0005019281
...         ...           ...              ...       ...         ...
299995  1697520       1697520              NaN   1697520  B00LH9ROKM
299996  1697522       1697522              NaN   1697522  B00LT1JHLW
299997  1697524       1697524              NaN   1697524  B00LT1JHLW
299998  1697527       1697527              NaN   1697527  B00LT1JHLW
299999  1697528       1697528              NaN   1697528  B00LT1JHLW

                UserId  HelpfulnessNumerator  HelpfulnessDenominator  \
0       A2L0G56BNOTX6S                     0                       0
1       A33EWPXESP9GQH                     0                       0
2       A13KAQO9F5X0FN                     0                       0
3       A306NASGVUDFKF                    10                      14
4       A38G1NN5SD81GD                     0                       1
...                ...                   ...                     ...
299995   AYB0IXBPBJ20A                     0                       1
299996   AU73NIGESSIRE                    25                      88
299997  A3PPYOJBMFBP6U                     3                      10
299998  A2CA2Q6JS6CQAE                    10                      14
299999   AV657BUYHHXZ2                     1                      14

        Scoretrain2        Time  \
0               NaN  1383696000
1               NaN  1390780800
2               NaN  1389657600
3               NaN  1132963200
4               NaN  1384905600
...             ...         ...
299995          NaN  1404345600
299996          NaN  1405555200
299997          NaN  1405728000
299998          NaN  1405987200
299999          NaN  1406073600

                                                  Summary  \
0                                        Dickens updated.
1                                            Good Version
2                                   the fonz does scrooge
3                 A refreshing twist on a Holiday classic
4                                         Not my favorite
...                                                   ...
299995  Basically an Episode of Criminal Minds, See It...
299996  July 17, 2014 - the first day of pre-order (wi...
299997  Please Include The 'Batman In Color' Bumper Wh...
299998    Finally on dvd and blu-ray The Batman TV Series
299999                      Way to Expensive!! WB = GREED

                                                     Text
0       This has been a favorite movie of mine for a l...
1       Even though i don't care for Henry Winklers  a...
2       Anorher good movie for holiday watchers..a lit...
3       My wife and I grew up in New Hampshire where t...
4       This is a first for me, I didn't like this mov...
...                                                   ...
299995  Just how seriously one should take Scott Derri...
299996  Let's be clear - the 5 stars are for the serie...
299997  I would also like to see the original 20th Cen...
299998  Finally to be released on DVD and Blu-Ray Nove...
299999  wow $269.99 for the entire series on Blu Ray??...

[300000 rows x 12 columns]

### Extracting usable columns:

In [59]:
test2_text = test2[['Id','Text']]
print(test2_text)

             Id                                               Text
0             5  This has been a favorite movie of mine for a l...
1            11  Even though i don't care for Henry Winklers  a...
2            17  Anorher good movie for holiday watchers..a lit...
3            46  My wife and I grew up in New Hampshire where t...
4            47  This is a first for me, I didn't like this mov...
...         ...                                                ...
299995  1697520  Just how seriously one should take Scott Derri...
299996  1697522  Let's be clear - the 5 stars are for the serie...
299997  1697524  I would also like to see the original 20th Cen...
299998  1697527  Finally to be released on DVD and Blu-Ray Nove...
299999  1697528  wow $269.99 for the entire series on Blu Ray??...

[300000 rows x 2 columns]

### Drop null values:

In [60]:
test2_text = test2_text.dropna()
print(test2_text)

             Id                                               Text
0             5  This has been a favorite movie of mine for a l...
1            11  Even though i don't care for Henry Winklers  a...
2            17  Anorher good movie for holiday watchers..a lit...
3            46  My wife and I grew up in New Hampshire where t...
4            47  This is a first for me, I didn't like this mov...
...         ...                                                ...
299995  1697520  Just how seriously one should take Scott Derri...
299996  1697522  Let's be clear - the 5 stars are for the serie...
299997  1697524  I would also like to see the original 20th Cen...
299998  1697527  Finally to be released on DVD and Blu-Ray Nove...
299999  1697528  wow $269.99 for the entire series on Blu Ray??...

[299991 rows x 2 columns]

## - Text pre-processing - (Same as before)
### Convert string sentences to list of string words, and remove characters:

In [61]:
expr_pattern2 = re.compile(pattern = r'[^\w\s]+', flags = 0)
test2_text['Text'] = [expr_pattern2.sub('', x) for x in test2_text['Text'].tolist()]
print(test2_text)

             Id                                               Text
0             5  This has been a favorite movie of mine for a l...
1            11  Even though i dont care for Henry Winklers  ac...
2            17  Anorher good movie for holiday watchersa littl...
3            46  My wife and I grew up in New Hampshire where t...
4            47  This is a first for me I didnt like this movie...
...         ...                                                ...
299995  1697520  Just how seriously one should take Scott Derri...
299996  1697522  Lets be clear  the 5 stars are for the series ...
299997  1697524  I would also like to see the original 20th Cen...
299998  1697527  Finally to be released on DVD and BluRay Novem...
299999  1697528  wow 26999 for the entire series on Blu Ray Tha...

[299991 rows x 2 columns]

In [62]:
test2_text['Text'] = test2_text['Text'].str.lower().str.split()
print(test2_text)

             Id                                               Text
0             5  [this, has, been, a, favorite, movie, of, mine...
1            11  [even, though, i, dont, care, for, henry, wink...
2            17  [anorher, good, movie, for, holiday, watchersa...
3            46  [my, wife, and, i, grew, up, in, new, hampshir...
4            47  [this, is, a, first, for, me, i, didnt, like, ...
...         ...                                                ...
299995  1697520  [just, how, seriously, one, should, take, scot...
299996  1697522  [lets, be, clear, the, 5, stars, are, for, the...
299997  1697524  [i, would, also, like, to, see, the, original,...
299998  1697527  [finally, to, be, released, on, dvd, and, blur...
299999  1697528  [wow, 26999, for, the, entire, series, on, blu...

[299991 rows x 2 columns]

In [63]:
test2_text['Text'] = test2_text['Text'].apply(lambda review: [word for word in review if word not in stopwords_list])

In [64]:
print(test2_text)

             Id                                               Text
0             5  [favorite, movie, mine, long, time, henry, win...
1            11  [even, though, care, henry, winklers, acting, ...
2            17  [anorher, good, movie, holiday, watchersa, lit...
3            46  [wife, grew, new, hampshire, version, takes, p...
4            47  [first, me, like, movie, think, 20, minutes, a...
...         ...                                                ...
299995  1697520  [seriously, one, take, scott, derricksons, lat...
299996  1697522  [lets, clear, 5, stars, series, product, revie...
299997  1697524  [would, also, like, see, original, 20th, centu...
299998  1697527  [finally, released, dvd, bluray, november, 11,...
299999  1697528  [wow, 26999, entire, series, blu, ray, thats, ...

[299991 rows x 2 columns]

In [65]:
test2_text['Text'] = test2_text['Text'].apply(', '.join)
expr_pattern3 = re.compile(pattern = r'[^\w\s]+', flags = 0)
test2_text['Text'] = [expr_pattern3.sub('', x) for x in test2_text['Text'].tolist()]
test2_text['Text'] = test2_text['Text'].str.lower()

In [66]:
print(test2_text)

             Id                                               Text
0             5  favorite movie mine long time henry winkler gr...
1            11  even though care henry winklers acting liked m...
2            17  anorher good movie holiday watchersa little tw...
3            46  wife grew new hampshire version takes place ea...
4            47        first me like movie think 20 minutes acting
...         ...                                                ...
299995  1697520  seriously one take scott derricksons latest cr...
299996  1697522  lets clear 5 stars series product review july ...
299997  1697524  would also like see original 20th century fox ...
299998  1697527  finally released dvd bluray november 11 2014 1...
299999  1697528  wow 26999 entire series blu ray thats 90 per s...

[299991 rows x 2 columns]

### Vectorize text:

In [67]:
X_test2 = test2_text['Text']
y_test2 = test2_text['Id']

In [68]:
# vectorizer2 = TfidfVectorizer()
# X_test2_vectorized = vectorizer2.fit_transform(X_test2)

In [69]:
# test2_text.Text = X_test2_vectorized

In [70]:
print(test2_text)

             Id                                               Text
0             5  favorite movie mine long time henry winkler gr...
1            11  even though care henry winklers acting liked m...
2            17  anorher good movie holiday watchersa little tw...
3            46  wife grew new hampshire version takes place ea...
4            47        first me like movie think 20 minutes acting
...         ...                                                ...
299995  1697520  seriously one take scott derricksons latest cr...
299996  1697522  lets clear 5 stars series product review july ...
299997  1697524  would also like see original 20th century fox ...
299998  1697527  finally released dvd bluray november 11 2014 1...
299999  1697528  wow 26999 entire series blu ray thats 90 per s...

[299991 rows x 2 columns]

## Predictions:

In [77]:
predictions = clf.predict(test2_text['Text'])

In [78]:
predictions.shape

(299991,)

In [79]:
submission2 = pd.DataFrame({'Id':test2_text['Id'], 'Score':predictions})
print(submission2)

             Id  Score
0             5    5.0
1            11    5.0
2            17    5.0
3            46    5.0
4            47    1.0
...         ...    ...
299995  1697520    4.0
299996  1697522    5.0
299997  1697524    4.0
299998  1697527    5.0
299999  1697528    5.0

[299991 rows x 2 columns]

In [80]:
common = test2.merge(submission2,on=['Id'])
common=test2[(~test2['Id'].isin(common['Id']))]

In [81]:
common.shape

(9, 12)

In [82]:
common['Id'].values

array([ 106563,  245184,  864850, 1022346, 1082487, 1116131, 1243416,
       1253440, 1589648])

In [84]:
common_id_score = common[['Id','Score test_data']]

In [87]:
common_id_score = common_id_score.rename(columns = {"Score test_data":"Score"})

In [88]:
submission3 = submission2.append(common_id_score)

In [89]:
submission3.tail()

             Id  Score
191684  1082487    NaN
197635  1116131    NaN
220075  1243416    NaN
221862  1253440    NaN
281151  1589648    NaN

In [90]:
submission3['Score'].fillna((submission3['Score'].mean()), inplace = True)

In [91]:
submission3.to_csv(path_or_buf = './data/my_submission.csv', index = False)